<div class="container">

  <app-cockpit (serverCreatedDecorator)="onServerAddedDecorator($event)"
               (blueprintCreatedDecorator)="onBlueprintAddedDecorator($event)"
               (blueprintCreatedTemplete)="onBlueprintAddedTemplete($event)"
               (serverCreatedTemplete)="onServerAddedTemplete($event)">

  </app-cockpit>
  <hr>
  <div class="row">
    <div class="col-md-12">
      <app-server-element *ngFor="let serverElement of serverElements"
                          [serverElement]="serverElement"></app-server-element>
    </div>
  </div>
</div>

